DATABASE_URL="file:../data/app.db"
APP_DATA_DIR="./data"
PATIENTS_ROOT_PATH=""
SESSION_COOKIE_NAME="oe_dental_session"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000/api/google/oauth/callback"
GOOGLE_TOKEN_ENCRYPTION_KEY=""
